ipykernel==5.1.0
ipython==8.10.0
ipython-genutils==0.2.0
jupyter-client==5.2.3
jupyter-core==4.11.2
keyring==16.1.1
Kivy==1.10.1
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.10
kivy.deps.sdl2==0.1.18
numpy==1.22.0
Pillow==9.3.0
PySocks==1.6.8
pytz==2018.7
requests==2.20.0
scipy==1.1.0
torch==1.0.0
torchvision==0.2.1
